*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Barlow', sans-serif;
    background-image: url('/images/sphère.png'),  linear-gradient(to left, #2C2D65, #201F22) ;
    background-repeat: no-repeat, repeat-y;
    background-position: left 120% top -110px, ;
    background-size: 50%, 100% ;
    color: $white;

}

a{
    text-decoration: none;
    color: $white;
}
img{
    width: 100%;
}
li {
    list-style-type: none;
}
