@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400;500;800&display=swap');

// COLORS
$red:#E6606C;
$white: #FFFFFF;
$yellow:#E8AB36;
$light_white:#EFEFEF;
$titre_minuscule:#FFFFFF80;
$cards_bg_color:#4D4F95, #2B2D66;
$cards_border_color:#FFFFFF14;
$icons_bg: #6357f6;


$shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$card_shadow:0px 24px 48px 0px rgba(0, 1, 44, 0.16);

